<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title%></title>
    <link type="text/css" rel="stylesheet" href="/assets/style.css"/>
</head>
<body>
    <div class ="header"><h1><%= title%></h1></div>
    <div>
        <div class="maincontent">
            <div class ="buttons"><button>Left</button></div>
            <div id="gallery"><img src="<%= myFirstEleven[5].URL%>" alt=""></div>
            <div class ="buttons"><button>Right</button></div>
        </div>
    </div>
</body>
</html>