body {
    margin: auto auto;
    height: 94vh;
    width: auto;
    padding: 0;
}

.header {
    text-align: center;
}

.maincontent {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    flex: wrap;
    position: relative;
}

#gallery {
    height: 23%;
    width: 50%;
    min-width: 160px;
    min-height: 90px;
    position: relative;
}

.text {
    background: rgba(0, 0, 0, 0.37);
    position: absolute;
    height: 23%;
    bottom: 0px;
    width: 50%;
}

.bold {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
}

.notbold {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: whitesmoke;
}

.button {
    height: 100%;
    align-self: center;
}

.right {
    transform: rotate(180deg);
}